@import url('https://fonts.googleapis.com/css?family=Roboto');

#topnav {
  background-color: #707070;

}

.logo {
  background-color:
}

.nav-link {
  color: #FFFFFF !important;
  font-family:'Roboto', sans-serif !important;
}

.smlImage {
  float:left;
  margin: 0px 10px 0px 0px;
  width: 8%;
   height: 8%;
}

.Job-title {
  font-family:'Roboto', sans-serif !important;
  font-size:xx-large;
}


.searchTitle {
  font-family:'Roboto', sans-serif !important;
  font-size:large;
}

.searchBody {
  font-family:'Roboto', sans-serif !important;
  font-size:medium;
}

header, footer {
    padding: 1em;
    text-align: left;
}


.job-listing {

  background-color: #dce1e8;
  color: black;
  position:relative;
  -webkit-border-radius: 1.5625em;
  padding: 2em 1em 1em 1em;
  margin: 3% auto;
  font-size: 1.5em;
  position:relative;

}

.job-listing1 {

  background-color: #dce1e8;
  color: black;
  position:relative;
  -webkit-border-radius: 1.5625em;
  padding: 1em 1em 4em 1em;
  margin: 3% auto;
  font-size: 1.5em;
  position:relative;

}

.job-listing4 {

  background-color: #dce1e8;
  color: black;
  position:relative;
  -webkit-border-radius: 1.5625em;
  padding: 1em 1em 4em 1em;
  margin: 3% auto;
  font-size: 1.5em;
  position:relative;

}
